In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#df=pd.read_csv('exoplanet.eu_catalog.csv')

In [ ]:
import pyvo

service = pyvo.dal.TAPService("http://voparis-tap-planeto.obspm.fr/tap")

query = "SELECT * FROM exoplanet.epn_core WHERE semi_major_axis < 5"

results = service.search(query) 

df=pd.DataFrame(results)

for col in df.columns: 
    print(col)

In [2]:
df=pd.read_csv('planets_2020.04.14_20.12.44.csv')

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (101) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,rowid,pl_hostname,pl_letter,pl_name,pl_discmethod,pl_controvflag,pl_pnum,pl_orbper,pl_orbsmax,pl_orbeccen,...,st_bmvj,st_vjmic,st_vjmrc,st_jmh2,st_hmk2,st_jmk2,st_bmy,st_m1,st_c1,st_colorn
0,1,11 Com,b,11 Com b,Radial Velocity,0,1,326.030000,1.290000,0.2310,...,1.010,NaN,NaN,0.459,0.202,0.661,NaN,NaN,NaN,7
1,2,11 UMi,b,11 UMi b,Radial Velocity,0,1,516.219970,1.530000,0.0800,...,1.369,NaN,NaN,0.785,0.152,0.937,NaN,NaN,NaN,5
2,3,14 And,b,14 And b,Radial Velocity,0,1,185.840000,0.830000,0.0000,...,1.020,NaN,NaN,0.411,0.277,0.688,NaN,NaN,NaN,7
3,4,14 Her,b,14 Her b,Radial Velocity,0,1,1773.400020,2.930000,0.3700,...,0.880,NaN,NaN,0.355,0.089,0.444,0.537,0.366,0.438,9
4,5,16 Cyg B,b,16 Cyg B b,Radial Velocity,0,1,798.500000,1.660000,0.6800,...,0.660,NaN,NaN,0.298,0.044,0.342,0.418,0.222,0.351,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4139,4140,tau Gem,b,tau Gem b,Radial Velocity,0,1,305.500000,1.170000,0.0310,...,1.260,NaN,NaN,0.556,0.140,0.696,NaN,NaN,NaN,7
4140,4141,ups And,b,ups And b,Radial Velocity,0,3,4.617033,0.059222,0.0215,...,0.540,NaN,NaN,0.218,0.098,0.316,NaN,NaN,NaN,8
4141,4142,ups And,c,ups And c,Radial Velocity,0,3,241.258000,0.827774,0.2596,...,0.540,NaN,NaN,0.218,0.098,0.316,NaN,NaN,NaN,8
4142,4143,ups And,d,ups And d,Radial Velocity,0,3,1276.460000,2.513290,0.2987,...,0.540,NaN,NaN,0.218,0.098,0.316,NaN,NaN,NaN,8
4143,4144,xi Aql,b,xi Aql b,Radial Velocity,0,1,136.750000,0.680000,0.0000,...,1.050,1.026,0.543,0.485,0.196,0.681,NaN,NaN,NaN,9

In [4]:
#GJ273b=df.loc[df.target_name.astype(str)=='b\'tau Cet e\'']
tauCete=df.loc[df.pl_name=='tau Cet e']

In [5]:
tauCete.pl_bmassj*317.8

4135    3.931186
Name: pl_bmassj, dtype: float64

In [6]:
tauCete.st_spstr

4135    G8 V
Name: st_spstr, dtype: object

In [ ]:
for col in df.columns: 
    print(col)

In [ ]:
df.st_spstr

In [ ]:
df.st_spstr.unique()

In [ ]:
idx=df['st_spstr'].str[0]=='M'
df=df[idx]

In [ ]:
len(df)

In [ ]:
idx_mass=-np.isnan(df.pl_bmassj)

In [ ]:
df2=df[idx_mass]

In [ ]:
df2['pl_bmasse']=df2.pl_bmassj*317.8
df2['rade']=df2.pl_radj*11.21

In [ ]:
df2.pl_bmasse

In [ ]:
finaldf=df2.loc[ ((df2.pl_bmasse<5) & (df2.pl_bmasse>0.1)) | ((df2.rade<1.5) & (df2.rade>0.5))]

In [ ]:
finaldf=finaldf.loc[ finaldf.pl_bmasse<10]

In [ ]:
logmass=np.linspace(-4,4,1000)
mass=10**logmass
radius=mass**0.28
plt.loglog(mass,radius)

In [ ]:
finaldf.pl_bmasse

In [ ]:
finaldf=finaldf[-np.isnan(finaldf.pl_orbsmax)]
a=finaldf.pl_orbsmax
a

In [ ]:
ang=finaldf.pl_angsep/1000
ang

In [ ]:
implied_radius=finaldf.pl_bmasse**0.28
implied_radiusj=implied_radius/11.21
implied_radiusj

In [ ]:
R=finaldf.pl_radj
R[np.isnan(R)]=implied_radiusj[np.isnan(R)]

In [ ]:
R

In [ ]:
R_au=R/2092.51
R_au

In [ ]:
C=0.4/np.pi*(R_au/a)**2

In [ ]:
airy1=np.log10(1.22*1500e-9/25*206265)
airy1

In [ ]:
airy2=np.log10(2.233*1500e-9/25*206265)
airy2

In [ ]:
airy3=np.log10(3.23*1500e-9/25*206265)
airy3

In [ ]:
n=finaldf.pl_name

In [ ]:
fig, ax = plt.subplots(figsize=(20, 40))
ax.scatter(ang,C)

ax.set_yscale('log')
ax.set_xscale('log')
ax.set_xlim([1e-4, 1e-1])
ax.set_ylim([1e-9, 1e-5])
ax.axvline(x=10**airy1)
ax.axvline(x=10**airy3)
ax.set_xlabel('Angular Separation (arcseconds)',fontsize=30)
ax.set_ylabel('Planet-to-star contrast',fontsize=30)
def label_point(x, y, val, ax):
    a = pd.concat({'x': x, 'y': y, 'val': val}, axis=1)
    for i, point in a.iterrows():
        ax.text(point['x']+point['x']/20, point['y'], str(point['val']))

label_point(ang, C, n, ax)

In [ ]:
finaldf[np.log10(ang)>airy1].pl_name

In [ ]:
finaldf.pl_name